---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION } from "../consts";

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const form = document.getElementById("contactForm") as HTMLFormElement;
    // Do something with the data

    fetch(form.action, {
      method: "POST",
      body: data,
      headers: {
        Accept: "application/json",
      },
    })
      .then((response) => {
        if (response.ok) {
          document!
            .getElementById("response-message")!
            .classList.remove("hidden");
          form.reset();
        } else {
          alert("خطایی رخ داده است. لطفاً دوباره تلاش کنید.");
        }
      })
      .catch((error) => {
        alert("مشکلی در ارسال پیام به وجود آمده است.");
      });
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<!doctype html>
<html lang="fa">
  <head>
    <BaseHead
      title={"ساخت اکانت اسپاتیفای رایگان"}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <Header />

    <div class="container">
      <img
        src="https://seeklogo.com/images/S/spotify-logo-25A3D52D41-seeklogo.com.png"
        alt="Spotify Logo"
        class="spotify-logo"
      />
      <h1>به کاربران عزیز</h1>
      <p>با سلام و احترام،</p>
      <p>
        من به عنوان مدیر وب‌سایت، امکان ایجاد حساب‌های Spotify رایگان را برای
        شما با پرداخت فقط 100.000 تومان فراهم می‌کنم. این حساب‌ها بدون نیاز به
        پرداخت هفتگی یا ماهیانه عمل می‌کنند.
      </p>
      <p>
        در صورت تمایل به ایجاد حساب، لطفاً نام، ایمیل و شماره تماس خود را در فرم
        زیر وارد کنید:
      </p>
      <form
        id="contactForm"
        action="https://formspree.io/f/mleqknoy"
        method="post"
      >
        <label for="name">نام:</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="barbod or..."
          required
        />
        <label for="email">ایمیل:</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="example@gmail.com"
          required
        />
        <label for="phone">شماره تماس:</label>
        <input
          type="tel"
          id="phone"
          name="phone"
          pattern="09[0-9]{9}"
          placeholder="مثال: 09123456789"
          required
        />
        <button type="submit" class="button">
          <div class="hoverEffect">
            <div></div>
          </div>
          ایجاد حساب
        </button>
      </form>
    </div>
    <Footer />
  </body>
</html>

<style>
  body {
    background-color: #ffffff; /* Spotify black background */
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #1db954; /* Spotify green color */
    overflow: hidden;
    box-sizing: border-box;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: #2e2e2e; /* Slightly lighter black */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    direction: rtl; /* Set direction to RTL for Persian */
    position: relative;
  }
  .spotify-logo {
    width: 100px;
    height: auto;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label,
  input,
  button {
    width: 100%;
    margin: 10px 0;
  }
  input,
  button {
    padding: 10px;
    font-size: 16px;
  }
  button {
    background-color: #1db954;
    color: white;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color: #1aa34a;
  }
  footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
    .spotify-logo {
      width: 80px;
    }
    input,
    button {
      font-size: 14px;
    }
  }

  .container {
  }

  .spotify-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: auto;
  }

  h1 {
    font-size: 25px;
    color: #1db954; /* Spotify green color */
    text-shadow:
      0 0 5px #1db954,
      0 0 10px #1db954,
      0 0 15px #1db954;
  }

  p,
  label {
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff; /* White color for text */
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  input[type="email"] {
    direction: ltr;
  }

  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 50px; /* More rounded button */
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    color: #191414; /* Spotify black color */
    background: #1db954; /* Spotify green color */
    cursor: pointer;
    box-shadow:
      0 0 10px #1db954,
      0 0 20px #1db954,
      0 0 30px #1db954;
    animation: pulse 1.5s infinite;
  }

  .button:hover {
    background: #1aa34a; /* Slightly darker green */
    color: #fff; /* White color */
    box-shadow:
      0 0 15px #1db954,
      0 0 30px #1db954,
      0 0 45px #1db954;
  }

  .button:active {
    transform: scale(0.97);
  }

  .hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .hoverEffect div {
    background: rgba(30, 215, 96, 0.5); /* Spotify green with transparency */
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    transition: 0.4s;
    filter: blur(10px);
    animation: effect infinite 3s linear;
    opacity: 0.7;
  }

  .button:hover .hoverEffect div {
    width: 4rem;
    height: 4rem;
  }

  @keyframes effect {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes pulse {
    0% {
      box-shadow:
        0 0 10px #1db954,
        0 0 20px #1db954,
        0 0 30px #1db954;
    }
    50% {
      box-shadow:
        0 0 15px #1db954,
        0 0 25px #1db954,
        0 0 35px #1db954;
    }
    100% {
      box-shadow:
        0 0 10px #1db954,
        0 0 20px #1db954,
        0 0 30px #1db954;
    }
  }
</style>
