---
const today = new Date();
---

<footer>
  <p>
    &copy; 2025 تمامی حقوق محفوظ است. | تماس با من در <a
      href="https://www.instagram.com/barbod_moshky.piano/">اینستاگرام</a
    > و <a href="https://youtube.com/@barbodclassicalmusic?si=oWIutxO5-u2_Rn07"
      >یوتیوب</a
    >
  </p>
</footer>

<style>
  footer {
    background-color: #3e2723;
    color: white;
    padding: 15px 0;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }

  footer a {
    color: #ffcc80;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  footer a:hover {
    color: #ffab40;
  }
</style>
