---
import MusicListLazyLoad from "../../components/MusicListLazyLoad.jsx";
import Header from "../../components/Header.astro";

---

<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <title>ูพุดููุงุฏุงุช ููุณู</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/Music-item.css" />
    <link rel="shortcut icon" href="/logo.jpg" type="image/x-icon">
    <script src="/theme-toggle.js" defer></script>

  </head>
  <Header />
  <body dir="rtl">
    <h1>๐ต ูพุดููุงุฏุงุช ููุณู ฺฉูุงุณฺฉ</h1>
    <MusicListLazyLoad client:load />
    <button id="theme-toggle" class="theme-btn">๐ ุชุงุฑฺฉ</button>
    <footer>  <p>
      &copy; 2025 ุชูุงู ุญููู ูุญููุธ ุงุณุช. | ุชูุงุณ ุจุง ูู ุฏุฑ <a
        href="https://www.instagram.com/barbod_moshky.piano/">ุงูุณุชุงฺฏุฑุงู</a
      > ู <a href="https://youtube.com/@barbodclassicalmusic?si=oWIutxO5-u2_Rn07"
        >ูุชูุจ</a
      >
    </p></footer>
  </body>
</html>
<script>
  // ุงูุฌุง ูโุชููู ฺฉุฏ ุฌุงูุงุงุณฺฉุฑูพุช ุฑู ุจููุณู
  // ูุซูุงู ุจุฑุง ุจุงุฑฺฏุฐุงุฑ ุชูุจู ุง ูุฑ ฺฉุงุฑ ุฏฺฏูโุง ฺฉู ูุงุฒ ุฏุงุฑู